<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ymt.wxshop.product.dao.ProductLabelMapper">
    <resultMap id="ProductLabel" type="com.ymt.wxshop.product.domain.ProductLabel">
        <id column="label_id" property="labelId" jdbcType="BIGINT"/>
        <result column="label_name" property="labelName" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ProductMapper" type="com.ymt.wxshop.product.domain.Product">
        <id column="goods_info_id" property="id" jdbcType="BIGINT"/>
        <result column="goods_info_name" property="title" jdbcType="VARCHAR"/>
        <result column="goods_info_item_no" property="no" jdbcType="VARCHAR"/>
        <result column="goods_info_deliveryNo" property="deliveryNo" jdbcType="VARCHAR"/>
        <result column="goods_info_added" property="added" jdbcType="CHAR"/>
        <result column="goods_info_create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="goods_info_prefer_price" property="preferPrice" jdbcType="DECIMAL"/>
        <result column="goods_info_market_price" property="marketPrice" jdbcType="DECIMAL"/>
        <result column="goods_info_settlePrice" property="settlePrice" jdbcType="DECIMAL"/>
        <result column="goods_info_stock" property="stock" jdbcType="BIGINT"/>
        <result column="goods_info_img_id" property="listImage" jdbcType="VARCHAR"/>
        <result column="goods_info_brokerage" property="brokerage" jdbcType="DECIMAL"/>
        <result column="goods_info_type" property="type" jdbcType="CHAR"/>
        <result column="goods_info_fristProfit" property="fristProfit" jdbcType="BIGINT"/>
        <result column="goods_info_secondProfit" property="secondProfit" jdbcType="BIGINT"/>
        <result column="count" property="sales" jdbcType="BIGINT"/>
        <result column="cat_id" property="catId" jdbcType="BIGINT"/>
        <result column="cat_name" property="catName" jdbcType="VARCHAR"/>
        <result column="goods_info_agent" property="agent" jdbcType="CHAR"/>
        <result column="goods_info_delflag" property="delFlag" jdbcType="VARCHAR"/>
        <result column="is_redemption" property="redemption" jdbcType="VARCHAR"/>
        <result column="sale_integral" property="saleIntegral" jdbcType="DECIMAL"/>
        <result column="integral_money" property="integralMoney" jdbcType="DECIMAL"/>
        <result column="score" property="score" jdbcType="BIGINT"/>
        <result column="image_in_name" property="appImg" jdbcType="VARCHAR"/>
        <result column="third_id" property="thirdId" jdbcType="BIGINT"/>
        <result column="goods_info_pv" property="productPv" jdbcType="DECIMAL"/>
        <result column="home_page_show" property="homePageShow" jdbcType="VARCHAR"/>
        <result column="show_score" property="showScore" jdbcType="BIGINT"/>
    </resultMap>

</mapper>