<mapper>
    <resultMap type="" id="${entity}">
    #foreach( $column in $columnList )
        <result column="${column.COLUMN_NAME}" property="${column.field}" jdbcType="${column.jdbcType}" />
    #end
    </resultMap>

    <sql id="${entity}BasicColumns">
        #foreach( $column in $columnList )
            ${column.COLUMN_NAME} ${column.field}#if(${velocityCount} != ${columnList.size()}),#end
        #end
    </sql>

    <insert useGeneratedKeys="true" keyColumn="" keyProperty="">
        #set($columnNameString = "")
        #set($columnValueString = "")
        #set($primaryColumn = "")
        #foreach( $column in $columnList )
            #if(!$column.isPrimaryKey)
                #set($comma = "")
                #if(${velocityCount} != ${columnList.size()})
                    #set($comma = ",")
                #end
                #set($columnNameString = "${columnNameString}${column.COLUMN_NAME}${comma}")
                #set($columnValueString = "${columnValueString}#{${column.field},jdbcType=${column.jdbcType}}${comma}")
            #end
        #end
        insert into $TABLE_NAME(${columnNameString})
        values($columnValueString)
    </insert>

    <update id="update">
        update $TABLE_NAME
        <set>
        #foreach( $column in $columnList )
            #if(!${column.isPrimaryKey})
                <if test="${column.field} != null">
                    ${column.COLUMN_NAME}=#{${column.field},jdbcType=${column.jdbcType}}#if(${velocityCount} != ${columnList.size()}),#end
                </if>
            #end
        #end
        </set>
        where
        #foreach( $column in $columnList )
            #if(${column.isPrimaryKey})
                ${column.COLUMN_NAME}=#{${column.field},jdbcType=${column.jdbcType}}
            #end
        #end
    </update>

    <select resultMap="${entity}" id="getById">
        SELECT
        <include refid="${entity}BasicColumns"/>
        FROM $TABLE_NAME
        WHERE
        #foreach( $column in $columnList )
            #if(${column.isPrimaryKey})
                ${column.COLUMN_NAME}
            #end
        #end
        in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select>
        SELECT
        <include refid="${entity}BasicColumns"/>
        FROM $TABLE_NAME WHERE
        #foreach( $column in $columnList )
            #if(${column.isPrimaryKey})
                ${column.COLUMN_NAME}=#{${column.field},jdbcType=${column.jdbcType}}
            #end
        #end
    </select>

    <delete id="deleteById">
        DELETE FROM $TABLE_NAME WHERE
        #foreach( $column in $columnList )
            #if(${column.isPrimaryKey})
                ${column.COLUMN_NAME}=#{${column.field},jdbcType=${column.jdbcType}}
            #end
        #end
    </delete>

    <delete id="deleteByIds">
        DELETE FROM $TABLE_NAME WHERE
        #foreach( $column in $columnList )
            #if(${column.isPrimaryKey})
                ${column.COLUMN_NAME}
            #end
        #end
        in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
